html {
	height: 100%;
}

body {
	height: 80%;
	width: 80%;
	margin: auto;
}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

button {
	background-color: #f1f1f1;
	border: outset;
	border-radius: 15px;
	font-size: larger;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 5% auto;
	height: 95%;
	width: 80%;
	border: 2px solid black;
}

.expression {
	margin: 5px auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 90%;
	height: 30px;
	border: 1px solid black;
	padding: 5px;
	font-size: 1rem;
}

.output {
	margin: 0px auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 90%;
	height: 50px;
	border: 1px solid black;
	padding: 5px;
	font-size: 2rem;
}

.keyPanel {
	margin: 10px auto;
	height: 80%;
	width: 90%;
	border: 2px solid black;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: .25rem;
	padding: 5px;
}
